.footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer > h3 {
    color: grey;
}
.footer__media{
    display: flex;
    flex-direction: row;
}
.footer__media > p {
    margin: 10px;
}
.footer__btn--facebook{
    background-color: transparent;
    color: lightblue;
}
.footer__btn--instagram{
    background-color: transparent;
    color: lightcoral;
}