
.top__image{
    background-image: url("/src/image/barber.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 1000px;
    margin-top: 200px;
  }
.logo_banner{
    align-items: center;
    text-align: center;
    position: absolute;
    top: -200px;
    left: 30%;
    right:30%;
  }
.image__CH{  
    width:400px;
    filter: blur(0.8);
  }
  
.service__section{
  text-decoration: none;
  color: black;
}
  
.middle__item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.second__section{
    text-align: center;
    margin-top: 20px;  
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    flex-direction:column;
    align-items: center;
  }
.third__sections{
    display: flex;
    flex-direction: row;
    margin: 20px 20%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
.third__section{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 30%;
    display: flex;
    flex-direction:column;  
  }
.title__section{
    margin: 20px;
    font-size: 30px;
  }
  .title__sectionv2{
    margin: 20px;
  }
  .description__section{
    margin: 15px;;
  }
  button{
    color: aliceblue;
    background-color: #E48C42;
    border: none;
    padding: 10px;
  }
  .appointment__Btn{
    margin-top: 30px;
    margin-bottom: 40px;
    width: fit-content;
    text-align: center;
   
  }
  .shopping__Btn{
    margin-top: 20%;
    margin-left: 5%;
    width:fit-content;
  }
  .product__sections{
    display: flex;
    flex-direction: row;
    margin: 5rem 20%;
  
    
  }
  .product__description{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
  }
  .description__product{
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 25%;
  }
  .productimage{
    width: 95%;
  }
  .barbers_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/src/image/bgbottom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .mybarber_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .barbers_section > h2{
    color: azure;
    font-size: 30PX;
  }
  .mybarber{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mybarber > img{
    margin-bottom: 40px;
  }
  .mybarber > h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .mybarber > span{
    margin-top: 20px;
  }
  
  @media all and (min-width:1700px ){
  
    .logo_banner{
      top:-200px !important;
    }
    .image__CH{
      width: 70% !important;
      height: 20% !important;
    }
  }
  
  @media (max-width:600px){
    .top__image{
      height: 300px;
      margin-top:40px;
    }
    .logo_banner{
      top:-30px !important;
    }
    .image__CH{
      width: 100px !important;
    
    }
    .second__section{
      text-align: center;
      margin: 15px 10px;
      width: 360px;
    }
    .third__sections{
      margin: 15px 5px;
      flex-wrap: wrap;
      align-items: center;
    }
    .third__section{
      margin-top: 20px;
      width: 150px;  
    }
    .title__section{
      margin: 10px 5px;
      font-size: medium;
    }
    .title__sectionv2{
      font-size: medium;
      margin: 5px;
    }
    .description__section{
      margin: 5px;
      font-size: 11px;
    }
  
    .shopping__Btn{
      margin-top: 20%;
      margin-left: 5%;
      width:fit-content;
    }
    .product__sections{
    margin-left: 0;
    margin-right: 0;
     margin-top: 10px;
      margin-bottom: 40px;
    }
    .product__description{
      margin-left: 10px;
      margin-top: 10px;
    }
    .productimage{
      width: 180px;
    }
    .description__product{
      margin-top: 15px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 11px;
    }
    .barbers_section{
      height: fit-content;
    }
    .mybarber_section{
      flex-wrap: wrap;
     
    }
    .barbers_section > h2{
      color: azure;
      font-size: large;
      margin: 20px;
      margin-bottom: 30px;
    }
    .mybarber{
      color: aliceblue;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mybarber > img{
      margin-bottom: 40px;
    }
    .mybarber > h3{
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: medium;
    }
    .mybarber > span{
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }